<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>TAIFEX FOREIGN EXCHANGE RATE</title>
</head>
<body>
	<div align="center">
		<h1>Saved Daily Foreign Exchange Rate</h1>
		<br>
				<table border="1" cellpadding="10">
					<a href= "/">Home Page</a>
			<thead>
				<tr>
					<th>ID</th>
					<th>Date</th>
					<th>UDS To NTD</th>
					<th>RMB To NTD</th>
					<th>USD To RMB</th>
				</tr>
			</thead>
			<tbody>
				<!-- 遍瀝taifexListRates -->

				<tr th:each="rate : ${taifexListRates}">
					<!-- .參數參照model的Employee下面的建構子 -->
					<td th:text=${rate.id}>Rate ID</td>
					<td th:text=${rate.date}>Date</td>
					<td th:text=${rate.usdToNtd}>UDS To NTD</td>
					<td th:text=${rate.rmbToNtd}>RMB To NTD</td>
					<td th:text=${rate.usdToRmb}>USD To RMB</td>
				</tr>
			</tbody>
		</table>
		
		
		
	</div>
</body>
</html>