<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>匯率</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body th:object="${rate}">
    <div class="container" style="max-width:600px;margin-top: 50px">
        <div class="well">
            <p><strong>項次:</strong><span th:text="*{id}"></span></p>
            <p><strong>日期:</strong><span th:text="*{date}"></span></p>
            <p><strong>美金轉台幣匯率:</strong><span th:text="*{usdToNtd}"></span></p>
            <p><strong>人民幣轉台幣匯率:</strong><span th:text="*{rmbToNtd}"></span></p>
            <p><strong>美金轉人民幣匯率:</strong><span th:text="*{usdToRmb}"></span></p> 
        </div>
    </div>
    
    <script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    
</body>
</html>